<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/editData.css" />
    <title>Edit Data Music</title>
  </head>
  <body>
    <div class="container">
      <h2>Edit Data</h2>
      <form action="/edit-data/<%= song._id %>" method="post">
        <input type="hidden" id="songId" name="songId" value="<%= song._id %>">
        <div class="form-group">
          <label for="Img_url">Img_url:</label>
          <input type="text" id="Img_url" name="Img_url" placeholder="Masukkan Img_url" value="<%= song.Img_url %>" />
        </div>
        <div class="form-group">
          <label for="Title">Title:</label>
          <input type="text" id="Title" name="Title" placeholder="Masukkan Title" value="<%= song.Title %>" />
        </div>
        <div class="form-group">
          <label for="Artists">Artists:</label>
          <input type="text" id="Artists" name="Artists" placeholder="Masukkan Artists" value="<%= song.Artists.join(', ') %>" />
        </div>
        <div class="form-group">
          <label for="Url">URL:</label>
          <input type="text" id="URL" name="URL" placeholder="Masukkan URL" value="<%= song.URL %>" />
        </div>
        <div style="padding-top: 20px;" class="form-group">
          <input type="submit" value="Simpan Perubahan" class="submit-button"></input>
        </div>
        <div class="form-group">
          <a href="/olahMusic" class="submit-button-cancel">Batal</a>
        </div>
      </form>
    </div>
  </body>
</html>
